<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="employee" class="com.example1.byName.EmployeeBean" autowire="byName">-->
    <bean id="employee" class="com.example1.byName.EmployeeBean" autowire="byType">
        <property name="fullName" value="zhang san"/>
    </bean>

<!--    <bean id="departmentBean" class="com.example1.byName.DepartmentBean">-->
    <bean id="department" class="com.example1.byName.DepartmentBean">
        <property name="name" value="li si"/>
    </bean>

</beans>