<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <task:annotation-driven/>

    <context:annotation-config/>
    <context:component-scan base-package="com.scheduled.propertiesContext"/>

    <util:properties id="applicationProps" location="application.properties"/>
    <context:property-placeholder properties-ref="applicationProps"/>

    <task:scheduled-tasks>
        <task:scheduled ref="demoServicePropertiesExample" method="demoServiceMethod"
                        cron="#{applicationProps['cron.expression']}"/>
    </task:scheduled-tasks>

</beans>