<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置bean并初始化-->
    <bean id="cat" class="com.example1.beanPostProcessor.Cat">
        <property name="name" value="HelloKitty"/>
        <property name="age" value="1"/>
    </bean>

    <bean id="catBeanPostProcessor" class="com.example1.beanPostProcessor.CatBeanPostProcessor"/>

</beans>