<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class = "org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="propertyEditorRegistrars">
            <list>
                <bean class="com.propertyEditor.CustomDateEditorRegistrar"/>
            </list>
        </property>

    </bean>

    <bean id="employeeDTO" class="com.propertyEditor.EmployeeDto">
        <property name="firstName" value="Lokesh" />
        <property name="lastName" value="Gupta" />
        <property name="designation" value="Manager" />
        <property name="dateOfBirth" value="2007-09-30" />
    </bean>





</beans>